*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "poppins-regular";
}
body {
    font-family: "poppins-regular";
}
.wrapper 
{
    
}
#home {
    overflow: hidden;
}
#home .wrapper {

}
#home .wrapper header {
    padding: 4px 18px;

}
#home .wrapper header header.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#home .wrapper header header.top .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#home .wrapper header header.top .left .one {

}
#home .wrapper header header.top .left .one a img {
    display: block;
    width: 100%;
}
#home .wrapper header header.top .left a {
    color: #000;
}
#home .wrapper header header.top .left .two {

}
#home .wrapper header header.top .left .two a img {
    display: block;
    width: 100%;
}
#home .wrapper header header.middle {
    display: flex;
    justify-content: space-between;
    line-height: 10vh;
}
#home .wrapper header header.middle .left {

}
#home .wrapper header header.middle .left h1 a {
    color: #000;
    font-size: 55px;
}
#home .wrapper header header.middle .middle {
    width: 35%;
    position: relative;
}
#home .wrapper header header.middle .middle i {
    position: absolute;
    padding-top: 30px;
    padding-left: 15px;
    color: #66686b;
}
#home .wrapper header header.middle .middle input {
    display: inline-block;
    width: 115%;
    height: 40px;
    border-radius: 20px; 
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 15px; 
    outline: none;
    padding-left: 40px; 
}
#home .wrapper header header.middle .right {
    width: 23%;
}
#home .wrapper header header.middle .right ul {
    list-style: none;
    display: flex;
    align-items: center;
    float: right;
    gap: 2px;
}
#home .wrapper header header.middle .right ul li a img {
    display: block;
    width: 100%;
}
#home .wrapper header header.bottom {
    
}
a.active,a:hover {
    background: #fff;
    transition: .5s;
}
.checkbtn {
    display: none;
}
#check{
    display: none;
}
#home .wrapper header header.bottom ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}
#home .wrapper header header.bottom ul li a {
    color: #000;
}
#home .wrapper #spotlight {
    width: 100%;
}
#home .wrapper #spotlight .container {

}
#home .wrapper #spotlight .container .vdo {
    position: relative;
}
#home .wrapper #spotlight .container .common{
    position: absolute;
    z-index: 1;
    top: 400px;
    width: 40%;
    padding-left: 63px;
}
#home .wrapper #spotlight .container .common h1{
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 20px;
}
#home .wrapper #spotlight .container .common p{
    padding-bottom: 40px;
    font-size: 20px;
}
#home .wrapper #spotlight .container .common button{
    border: 1px solid #000;
    background: #000;
    color: #fff;
    padding: 10px 60px;
}
#home .wrapper #content {
    background-color: #ebedeb;
}
#home .wrapper #content .heading {
    text-align: center;
    padding: 65px;
}
#home .wrapper #content .heading h1 {
    font-size: 50px;
}
#home .wrapper #content .paragraph {

}
#home .wrapper #content .paragraph p {
    text-align: center;
    font-size: 17px;
    padding-bottom: 15px;
}
#home .wrapper #about {

}
#home .wrapper #about .wrapper {

}
#home .wrapper #about .wrapper .title {

}
#home .wrapper #about .wrapper .title h1 {
    text-align: center;
    padding: 70px;
    font-size: 50px;
}
#home .wrapper #about .wrapper .shopping {
    display: flex;
    padding: 25px;
}
#home .wrapper #about .wrapper .shopping .left {
    padding-left: 2px;
}
#home .wrapper #about .wrapper .shopping .left .item {
    width: 100%;
}
#home .wrapper #about .wrapper .shopping .left .item img {
    display: block;
    width: 100%;
}
#home .wrapper #about .wrapper .shopping .left h3 {
    margin-top: 20px;
}
#home .wrapper #about .wrapper .shopping .left p {
    margin-top: 20px;
}
#home .wrapper #about .wrapper .shopping .left a h4 {
    margin-top: 20px;
    color: black;
}
#home .wrapper #about .wrapper .shopping .middle {
    padding-left: 60px;
}
#home .wrapper #about .wrapper .shopping .middle .item1 {
    width: 100%;
}
#home .wrapper #about .wrapper .shopping .middle .item1 img {
    display: block;
    width: 100%;
}
#home .wrapper #about .wrapper .shopping .middle h3 {
    margin-top: 20px;
}
#home .wrapper #about .wrapper .shopping .middle p {
    margin-top: 20px;
}
#home .wrapper #about .wrapper .shopping .middle a h4 {
    margin-top: 20px;
    color: black;
}
#home .wrapper #about .wrapper .shopping .right {
    padding-left: 60px;
}
#home .wrapper #about .wrapper .shopping .right .item2 {
    width: 100%;
    padding-right: 0px;
}
#home .wrapper #about .wrapper .shopping .right .item2 img {
    display: block;
    width: 100%;
}
#home .wrapper #about .wrapper .shopping .right h3 {
    margin-top: 20px;
}
#home .wrapper #about .wrapper .shopping .right p {
    margin-top: 20px;
}
#home .wrapper #about .wrapper .shopping .right a h4 {
    margin-top: 20px;
    color: black;
}
 .simple-line {
    border: none;
    border-top: 1px dashed #333;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 94%;
    margin: 20px auto;
}
#home .wrapper footer {
 
}
#home .wrapper footer .footercontainer {
    padding: 50px;
}
#home .wrapper footer .footercontainer .left {

}
#home .wrapper footer .footercontainer .left p {

}
#home .wrapper footer .footercontainer .right {
    
}
#home .wrapper footer .footercontainer .right ul.last{
    list-style: none;
    display: flex;
    float: right;
    gap: 70px;
}
#home .wrapper footer .footercontainer .right ul.last li a {
    color: black;
}
@media all and (max-width: 980px) {
    .checkbtn{
        display: block;
        font-size: 24px;
        cursor: pointer;
      }
      ul{
        position: fixed;
        width: 50%;
        height: 150vh;
        background: #fff;
        top: 48px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 10;
        flex-direction: column;
        line-height: normal;
      }
        ul li{
        margin: 2px 0;
        line-height: 30px;
      }
       ul li a{
        font-size: 20px;
      }
      a:hover,a.active{
        background: none;
        color: #000;
      }
      #check:checked ~ ul{
        left: 0;
      }
}
@media all and (max-width: 1440px) {
    #home .wrapper header header.middle .middle i {
        padding-top: 16px;
        color: #66686b;
    }
} 
@media all and (min-width: 980px) and ( max-width: 1080px) {
    #home .wrapper #spotlight .container .common {
        width: 44%;
    }
}
@media all and ( max-width: 980px) {
    #home .wrapper #spotlight .container .common {
        width: 55%;
    }
    #home .wrapper header header.middle .middle i {
        padding-left: 20px;
    }
}
@media all and ( max-width: 768px) {
    #home .wrapper #spotlight .container .common {
        width: 66%;
    }
    #home .wrapper #about .wrapper .shopping {
        flex-direction: column;
    }
    #home .wrapper #about .wrapper .shopping .left {
        padding-left: 0px;
    }
    #home .wrapper #about .wrapper .shopping .middle {
        padding-left: 0px;
    }
    #home .wrapper #about .wrapper .shopping .right {
        padding-left: 0px;
    }
}
@media all and ( max-width: 640px) {
    #home .wrapper #spotlight .container .common {
        width: 78%;
    }
    #home .wrapper header header.top {
        font-size: 15px;
    }
    #home .wrapper #about .wrapper .title h1 {
        font-size: 49px;
    }
    #home .wrapper #content .heading h1 {
        font-size: 34px;
    } 
    #home .wrapper header header.middle .middle input {
        display: none;
        align-items: center;
    }
}
@media all and ( max-width: 540px) {
    #home .wrapper header header.top {
        font-size: 13px;
    }
    #home .wrapper #about .wrapper .shopping {
        flex-direction: column;
    }
    #home .wrapper #about .wrapper .shopping .left {
        padding-left: 0px;
    }
    #home .wrapper #about .wrapper .shopping .middle {
        padding-left: 0px;
    }
    #home .wrapper #about .wrapper .shopping .right {
        padding-left: 0px;
    }
    #home .wrapper header header.middle .middle i {
        padding-left: 10px;
    }
}
@media all and ( max-width: 480px) {
    #home .wrapper #about .wrapper .title h1 {
        font-size: 41px;
    }
    #home .wrapper #content .heading h1 {
        font-size: 29px;
    } 
    #home .wrapper #spotlight .container .common {
        width: 89%;
    }
    #home .wrapper header header.top {
        font-size: 11px;
    }
    #home .wrapper header header.middle .left h1 a {
        font-size: 49px;
    }
}









































































