*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: 'poppins-bold';
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppins-regular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppins-italic';
    src: url('../fonts/poppins-italic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-italic-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppins-light';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: "poppins-light";
    width: 100%;
}
a {
    font-family: "poppins-regular";
}
p {
    font-family: "poppins-regular";
}
h1 {
    font-family: "poppins-bold";
}
.wrapper {

}
#home {
    overflow: hidden;
}
#home .wrapper {

}
#home .wrapper header .wrapper{
    padding: 4px 18px;
}
#home .wrapper header .wrapper header.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
#home .wrapper header .wrapper header.top .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 11px;
}
#home .wrapper header .wrapper header.top .left .one {

}
#home .wrapper header .wrapper header.top .left .one a i {
    display: block;
    width: 100%;
}
#home .wrapper header .wrapper header.top .left a {
    color: #000;
}
#home .wrapper header .wrapper header.top .left .two {

}
#home .wrapper header .wrapper header.top .left .two a i {
    display: block;
    width: 100%;
}
#home .wrapper header .wrapper header.middle {
    display: flex;
    justify-content: space-between;
    line-height: 10vh;
    gap: 33px;
}
#home .wrapper header .wrapper header.middle .left {

}
#home .wrapper header .wrapper header.middle .left h1 a {
    color: #000;
    font-size: 55px;
    font-family: "oppins-bold";
}
#home .wrapper header .wrapper header.middle .middle {
    width: 35%;
    position: relative;
}
#home .wrapper header .wrapper header.middle .middle a i {
    position: absolute;
    top: 30px;
    padding-left: 15px;
    color: #66686b;
    top: 0 15px;
}
#home .wrapper header .wrapper header.middle .middle input {
    display: inline-block;
    width: 115%;
    height: 40px;
    border-radius: 20px; 
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 15px; 
    outline: none;
    padding-left: 40px; 
}
#home .wrapper header .wrapper header.middle .right {
    width: 23%;
}
#home .wrapper header .wrapper header.middle .right .destination {
    list-style: none;
    display: flex;
    align-items: center;
    float: right;
    gap: 20px;
}
#home .wrapper header .wrapper header.middle .right .destination li a i {
    color: black;
}
#home .wrapper header .wrapper header.bottom {
    
}
a.active,a:hover {
    background: #fff;
    transition: .5s;
}
.checkbtn {
    display: none;
}
#check{
    display: none;
}
#home .wrapper header .wrapper header.bottom ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}
#home .wrapper header .wrapper header.bottom ul li a {
    color: #000;
}
#home .wrapper #spotlight {
    width: 100%;
}
#home .wrapper #spotlight .container {

}
#home .wrapper #spotlight .container .vdo {
    position: relative;
}
#home .wrapper #spotlight .container .common{
    position: absolute;
    z-index: 1;
    top: 400px;
    width: 40%;
    padding-left: 63px;
}
#home .wrapper #spotlight .wrapper .container .common h1{
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 20px;
}
#home .wrapper #spotlight .wrapper .container .common p{
    padding-bottom: 40px;
    font-size: 18px;
}
#home .wrapper #spotlight .wrapper .container .common button{
    border: 1px solid #000;
    background: #000;
    color: #fff;
    padding: 10px 60px;
}
#home .wrapper #content {
    background-color: #ebedeb;
}
#home .wrapper #content  .heading {
    text-align: center;
    padding: 65px;
}
#home .wrapper #content .heading h1 {
    font-size: 45px;
}
#home .wrapper #content .paragraph {

}
#home .wrapper #content .paragraph p {
    text-align: center;
    font-size: 17px;
    padding-bottom: 15px;
}
#home .wrapper #about {

}
#home .wrapper #about .wrapper {

}
#home .wrapper #about .wrapper .title {

}
#home .wrapper #about .wrapper .title h1 {
    text-align: center;
    padding: 70px;
    font-size: 50px;
}
#home .wrapper #about .wrapper .shopping {
    display: flex;
    padding: 25px;
}
#home .wrapper #about .wrapper .shopping .left {
    margin-left: 2px;
}
#home .wrapper #about .wrapper .shopping .left .item {
    width: 100%;
}
#home .wrapper #about .wrapper .shopping .left .item img {
    display: block;
    width: 100%;
}
#home .wrapper #about .wrapper .shopping .left h3 {
    margin-top: 20px;
}
#home .wrapper #about .wrapper .shopping .left p {
    margin-top: 20px;
}
#home .wrapper #about .wrapper .shopping .left a h4 {
    margin-top: 20px;
    color: black;
}
#home .wrapper #about .wrapper .shopping .middle {
    margin-left: 60px;
}
#home .wrapper #about .wrapper .shopping .middle .item1 {
    width: 100%;
}
#home .wrapper #about .wrapper .shopping .middle .item1 img {
    display: block;
    width: 100%;
}
#home .wrapper #about .wrapper .shopping .middle h3 {
    margin-top: 20px;
}
#home .wrapper #about .wrapper .shopping .middle p {
    margin-top: 20px;
}
#home .wrapper #about .wrapper .shopping .middle a h4 {
    margin-top: 20px;
    color: black;
}
#home .wrapper #about .wrapper .shopping .right {
    margin-left: 60px;
}
#home .wrapper #about .wrapper .shopping .right .item2 {
    width: 100%;
    margin-right: 0px;
}
#home .wrapper #about .wrapper .shopping .right .item2 img {
    display: block;
    width: 100%;
}
#home .wrapper #about .wrapper .shopping .right h3 {
    margin-top: 20px;
}
#home .wrapper #about .wrapper .shopping .right p {
    margin-top: 20px;
}
#home .wrapper #about .wrapper .shopping .right a h4 {
    margin-top: 20px;
    color: black;
}
 .simple-line {
    border: none;
    border-top: 1px dashed #333;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 94%;
    margin: 20px auto;
}
#home .wrapper footer {
 
}
#home .wrapper footer .wrapper .footercontainer {
    padding: 50px;
}
#home .wrapper footer .wrapper .footercontainer .left {

}
#home .wrapper footer .wrapper .footercontainer .left p {

}
#home .wrapper footer .wrapper .footercontainer .right {
    
}
#home .wrapper footer .wrapper .footercontainer .right .footer-social-icons{
    list-style: none;
    display: flex;
    float: right;
    gap: 70px;
}
#home .wrapper footer .wrapper .footercontainer .right .footer-social-icons li a.social-icon-visible {
    color: black;
}
@media all and (max-width: 980px) {
    .checkbtn{
        display: block;
        font-size: 24px;
        cursor: pointer;
      }
      .bottom ul{
        position: fixed;
        width: 50%;
        background: #fff;
        top: 180px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 10;
        flex-direction: column;
        line-height: normal;
      }
      .bottom  ul li{
        margin: 2px 0;
        line-height: 30px;
      }
      .bottom ul li a{
        font-size: 20px;
      }
      a:hover,a.active{
        background: none;
        color: #000;
      }
      #check:checked ~ ul{
        left: 0;
      }
}
@media screen and (max-width: 1440px) {
    #home .wrapper header .wrapper header.middle{
        line-height: 19vh;
    }
    #home .wrapper header .wrapper header.middle .middle a i {
        top: 25px;
    }
    #home .wrapper #content .paragraph p {
        font-size: 16px;
        margin-left: 30px;
        margin-right: 30px;
    }
}
@media screen and (max-width: 1281px){
    #home .wrapper header .wrapper header.middle{
        line-height: 19vh;
    }
    #home .wrapper header .wrapper header.middle .middle a i {
        top: 25px;
    }
}
@media screen and (max-width: 1081px) {
    #home .wrapper #spotlight .wrapper .container .common h1 {
        width: 112%;
    }
    #home .wrapper #spotlight .wrapper .container .common p {
        width: 175%;
    }
}
@media screen and (max-width: 981px) {
    #home .wrapper #spotlight .wrapper .container .common h1 {
        width: 149%;
    }
    #home .wrapper #spotlight .wrapper .container .common p {
        font-size: 19px;
        width: 120%;
    }
    #home .wrapper footer .wrapper .footercontainer .right .footer-social-icons {
        margin-top: 20px;
        gap: 60px;
    }
}
@media screen and (max-width: 769px) {
    #home .wrapper #spotlight .wrapper .container .common h1 {
        width: 178%;
    }
    #home .wrapper #spotlight .wrapper .container .common p {
        width: 189%;
    }
    #home .wrapper #content .heading h1 {
        font-size: 38px;
    }
    #home .wrapper #content .paragraph p {
        margin-left: 25px;
        margin-right: 25px;
    }
    #home .wrapper #about .wrapper .shopping {
        flex-direction: column;
    }
    #home .wrapper #about .wrapper .shopping .middle {
        margin-left: 3px;
        margin-top: 15px;
    }
    #home .wrapper #about .wrapper .shopping .right {
        margin-left: 3px;
        margin-top: 15px;
    }
}
@media screen and (max-width: 641px) {
    #home .wrapper #spotlight .wrapper .container .common h1 {
        width: 179%;
        font-size: 27px;
    }
    #home .wrapper #spotlight .wrapper .container .common p {
        width: 209%;
    }
    #home .wrapper #content .heading h1 {
        font-size: 30px;
    }
    #home .wrapper header .wrapper header.middle .middle input {
        display: none;
    }
    #home .wrapper footer .wrapper .footercontainer .right {
        padding-top: 26px;
    }
    #home .wrapper header .wrapper header.middle .middle a i {
        top: 36px;
    }
    #home .wrapper header .wrapper header.top {
        font-size: 12px;
    }
    #home .wrapper header .wrapper header.middle .right .destination {
        display: none;
    }
    #home .wrapper #about .wrapper .title h1 {
        font-size: 43px;
    }
} 
@media screen and (max-width: 541px) {
    #home .wrapper header .wrapper header.top {
        font-size: 11px;
    }
    #home .wrapper #spotlight .wrapper .container .common h1 {
        font-size: 28px;
        width: 212%;
    }
    #home .wrapper #spotlight .wrapper .container .common p {
       font-size: 15px;
    }
    #home .wrapper #content .heading h1 {
        font-size: 25px;
    }
    #home .wrapper #about .wrapper .title h1 {
        font-size: 36px;
    }
}
@media screen and (max-width: 481px){ 
    #home .wrapper header .wrapper header.top {
        gap: 3px;
        font-size: 7px;
    }
    #home .wrapper header .wrapper header.top .left{
        gap: 7px;
    }
    #home .wrapper #spotlight .wrapper .container .common h1 {
        font-size: 20px;
        width: 247%;
    }
    #home .wrapper #spotlight .wrapper .container .common p {
       font-size: 12px;
       width: 320%;
    }
    #home .wrapper #content .heading h1 {
        font-size: 16px;
    }
    #home .wrapper #content .paragraph p {
        font-size: 10px;
    }
    #home .wrapper #content .heading p{
        font-size: 16px;
    }
    #home .wrapper footer .wrapper .footercontainer .right .footer-social-icons {
        gap: 36px;
    }
    #home .wrapper #about .wrapper .title h1 {
        font-size: 23px;
    }
    #home .wrapper header .wrapper header.middle .middle a i {
        display: none;
    }
}
@media screen and (max-width: 361px){
   
}









































































